#section--5 {
  background-color: #eaeaea;
  padding: 65px 130px;
  width: 100%;
}

#section--5 > h2 {
  color: #0350a8;
  width: 40%;
}

#section--5 > p {
  width: 60%;
  color: #101010;
  text-align: left;
  padding-left: 30px;
  padding-right: 65px;
  font-size: smaller;

  position: relative;
}

#section--5 > p::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 60%;
  background-color: #101010;
  left: 0;
  top: 20%;
}

@media (max-width: 768px) {
  #section--5 {
    flex-direction: column;
    gap: 3rem;
    padding: 65px 5%;
  }

  #section--5 > h2 {
    width: 100%;
  }

  #section--5 > p {
    width: 100%;
    text-align: center;
    padding: 5%;
    border: #0350a8 solid 2px;
  }

  #section--5 > p::before {
    width: 0;
    height: 0;
  }
}
