#section--4 {
  background-color: #3e5d80;
  padding: 65px 130px calc(65px + 4rem) 130px;
  width: 100%;
  gap: 8rem;
}

.section--4--div {
  border-style: solid;
  border-image: linear-gradient(to top right, #0350a8, #019ba5) 1;
  border-image-width: 3px;
  color: #f5f6fa;
  width: 100%;
  min-height: 26rem;
  position: relative;

  line-height: 2;
}

.section--4--div:nth-of-type(1) > h2 {
  padding-right: 493px;
  padding-left: 111px;
}

.section--4--div > h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: larger;
}

.section--4--img {
  width: 22rem;
  height: 22rem;
  object-fit: cover;
  position: absolute;
  right: -2.5rem;
}

.section--4--img--2 {
  left: -2.5rem;
}

.section--4--div:nth-of-type(2) > h2 {
  padding-right: 111px;
  padding-left: 493px;
}

@media (max-width: 972px) {
  #section--4 {
    padding: 65px 0 calc(65px) 0;
    gap: 0;
  }

  .section--4--div {
    border: none;
    flex-direction: column-reverse;
    align-items: center;
    gap: 4rem;
    padding: 4rem 10%;
  }

  .section--4--div:nth-of-type(1) {
    border-bottom: none;
    border-image-width: 3px;
    position: relative;
    padding-left: 10%;
  }

  .section--4--div:nth-of-type(1) > h2 {
    padding-right: 0;
    padding-left: 0;
  }

  .section--4--div:nth-of-type(1)::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to top right, #0350a8, #019ba5);
  }

  .section--4--img {
    width: 100%;
    height: 20rem;
    position: relative;
    padding: 0 5%;
    right: 0;
    bottom: 0;
  }

  .section--4--img--2 {
    left: 0;
  }

  .section--4--div > h2 {
    padding-right: 0;
    text-align: center;
  }

  .section--4--div:nth-of-type(2) > h2 {
    padding-left: 0;
    padding-right: 0;
  }
}
