* {
  -webkit-font-smothing: antialiased;
  scroll-behavior: smooth;
}

#section--3 {
  background-color: #f5f6fa;
  width: 100%;
  padding: 65px 120px;
  text-align: left;
  color: #101010;
  position: relative;
}

#section--3 > h1 > span {
  position: relative;
}

#section--3 > h1 > span::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #002b98;
  width: 70%;
  height: 2px;
}

#section--3 > p {
  font-size: small;
  margin-bottom: 50px;
  margin-top: 20px;
  padding-right: 50%;
}

.services--grid {
  display: flex;
  gap: 40px;
  position: relative;
  overflow-x: scroll;
  padding: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.services--grid::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.services--grid {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll--div {
  position: absolute;
  top: 120px;
  right: 132px;
  gap: 32px;
}

.scroll--left,
.scroll--right {
  justify-content: center;
  background-color: #002b98;
  border: none;
  border-radius: 50%;
  height: 41px;
  width: 41px;
}

.service--1,
.service--2,
.service--3,
.service--4,
.service--5,
.service--6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 362px;
  position: relative;
  background-color: #f5f6fa;
  box-shadow: 0px 4px 9px rgba(106, 106, 106, 0.16);
  padding: 16px 20px 16px;
  scroll-snap-align: start;

  text-align: left;
  transform: scale(0.98);
  transition: transform 0.3s ease-in;
}

.service--1:hover,
.service--2:hover,
.service--3:hover,
.service--4:hover,
.service--5:hover,
.service--6:hover {
  transform: scale(1);
}

.services--grid > div > h2 {
  margin-top: 35px;
  margin-bottom: 10px;
}

.services--grid > div > p {
  font-size: small;
}

.services--img {
  width: 100%;
  height: 13rem;
  border-radius: 8px;
}

.btn--learn {
  min-height: 3rem;
  margin-top: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  align-self: flex-start;
  border-radius: 8px;
}

.btn--learn::after {
  border-radius: 8px;
}

.btn--learn > i {
  font-size: small;
  margin-left: 5px;
}

/* DOTS */
.dots--div {
  display: none;
}

.dots {
  background-color: #d9d9d9;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.dot--active {
  background-color: #3e5d80;
}

/* POP UP OVERLAY */
.pop--up {
  align-items: flex-start;
  background-color: #f5f6fa;
  padding: 16px;
  gap: 54px;
  position: absolute;
  right: 50%;
  top: 60%;
  width: 0;
  height: 0;
  transform: translate(50%, -50%);
  z-index: 5;
  opacity: 0;

  transition: opacity 0.3s ease-in;
}

.pop--up > img {
  height: 100%;
  width: 50%;
}

.pop--up > div {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  height: 100%;
  width: 50%;
}

.pop--up > div > h2 {
  font-size: 24px;
  position: relative;
}

.pop--up > div > h2::before {
  background-color: #002b98;
  content: '';
  position: absolute;
  width: 50%;
  height: 1.5px;
  left: 0;
  bottom: -6px;
}

.pop--up > div > p {
  text-align: left;
  font-size: 16px;
}

.section--3--shadow {
  transition: backgound-color 0.4s ease;
}

.pop--up--shadow {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(36, 36, 36, 0.4);
  opacity: 0.9;
}

.show--pop--up {
  width: 866px;
  opacity: 1;
  height: 400px;
  transition: opacity 0.3s ease-out;
}

@media (max-width: 1091px) {
  #section--3 {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 987px) {
  .pop--up {
    flex-direction: column;
    align-items: center;
  }

  .pop--up > img {
    width: 100%;
    height: 256px;
  }

  .pop--up > div {
    width: 100%;
    align-items: center;
  }

  .pop--up > div > h2::before {
    left: 25%;
  }

  .pop--up > div > p {
    text-align: center;
  }

  .show--pop--up {
    width: 90%;
    height: unset;
    min-height: 400px;
    transition: opacity 0.3s ease-out;
  }
}

@media (max-width: 768px) {
  #section--3 {
    text-align: center;
    padding: 10% 5%;
  }

  #section--3 > h1 > span::before {
    left: 90%;
    width: 30%;
  }

  #section--3 > p {
    padding-right: 0;
  }

  .services--grid {
    min-width: unset;
    width: 100%;
  }

  .service--1,
  .service--2,
  .service--3,
  .service--4,
  .service--5,
  .service--6 {
    min-width: 304px;
  }

  .scroll--div {
    display: none;
  }

  .btn--learn {
    justify-content: flex-start;
  }

  .dots--div {
    display: flex;
    justify-content: center;
    margin-top: 26px;
    gap: 8px;
  }
}
